<a href="https://colab.research.google.com/github/daanishrasheed/DS-Unit-2-Applied-Modeling/blob/master/module1/LS_DS_231_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 3, Module 1*

---


# Define ML problems

You will use your portfolio project dataset for all assignments this sprint.

## Assignment

Complete these tasks for your project, and document your decisions.

- [ ] Choose your target. Which column in your tabular dataset will you predict?
- [ ] Is your problem regression or classification?
- [ ] How is your target distributed?
    - Classification: How many classes? Are the classes imbalanced?
    - Regression: Is the target right-skewed? If so, you may want to log transform the target.
- [ ] Choose which observations you will use to train, validate, and test your model.
    - Are some observations outliers? Will you exclude them?
    - Will you do a random split or a time-based split?
- [ ] Choose your evaluation metric(s).
    - Classification: Is your majority class frequency > 50% and < 70% ? If so, you can just use accuracy if you want. Outside that range, accuracy could be misleading. What evaluation metric will you choose, in addition to or instead of accuracy?
- [ ] Begin to clean and explore your data.
- [ ] Begin to choose which features, if any, to exclude. Would some features "leak" future information?

In [2]:
from google.colab import files
uploaded = files.upload()

Saving pbp-2018.csv to pbp-2018.csv

In [3]:
import pandas as pd
play = pd.read_csv('pbp-2018.csv', engine='python')
print(play.shape)
play.head(20)

(45016, 45)

        GameId    GameDate  Quarter  ...  IsNoPlay  PenaltyType PenaltyYards
0   2018090600  2018-09-06        2  ...         0          NaN            0
1   2018090600  2018-09-06        2  ...         0          NaN            0
2   2018090600  2018-09-06        3  ...         0          NaN            0
3   2018090600  2018-09-06        4  ...         0          NaN            0
4   2018090600  2018-09-06        4  ...         0          NaN            0
5   2018090901  2018-09-09        1  ...         0          NaN            0
6   2018090901  2018-09-09        2  ...         0          NaN            0
7   2018090902  2018-09-09        1  ...         0          NaN            0
8   2018090902  2018-09-09        1  ...         0          NaN            0
9   2018090902  2018-09-09        2  ...         0          NaN            0
10  2018090902  2018-09-09        3  ...         0          NaN            0
11  2018090903  2018-09-09        1  ...         0          NaN            0
12  2018090903  2018-09-09        3  ...         0          NaN            0
13  2018090903  2018-09-09        3  ...         0          NaN            0
14  2018090903  2018-09-09        4  ...         0          NaN            0
15  2018090903  2018-09-09        4  ...         0          NaN            0
16  2018090904  2018-09-09        1  ...         0          NaN            0
17  2018090904  2018-09-09        2  ...         0          NaN            0
18  2018090905  2018-09-09        3  ...         0          NaN            0
19  2018090905  2018-09-09        4  ...         0          NaN            0

[20 rows x 45 columns]

In [0]:
play = play.drop(play[play.Down == 0].index)

In [5]:
play.head()

        GameId    GameDate  Quarter  ...  IsNoPlay  PenaltyType PenaltyYards
15  2018090903  2018-09-09        4  ...         0          NaN            0
22  2018090908  2018-09-09        2  ...         0          NaN            0
24  2018090909  2018-09-09        3  ...         0          NaN            0
34  2018091000  2018-09-10        3  ...         0          NaN            0
35  2018091000  2018-09-10        3  ...         0          NaN            0

[5 rows x 45 columns]

In [0]:
df = play.drop(columns=['Unnamed: 10', 'Unnamed: 12', 'Unnamed: 16', 'Unnamed: 17', 'Challenger'])

In [7]:
df.tail(5)

           GameId    GameDate  Quarter  ...  IsNoPlay  PenaltyType PenaltyYards
45011  2018123015  2018-12-30        4  ...         0          NaN            0
45012  2018123015  2018-12-30        4  ...         0          NaN            0
45013  2018123015  2018-12-30        4  ...         0          NaN            0
45014  2018123015  2018-12-30        4  ...         0          NaN            0
45015  2018123015  2018-12-30        4  ...         0          NaN            0

[5 rows x 40 columns]

In [0]:
df1 = df.drop(df[(df.IsRush == 1) & (df.IsPass == 1)].index)

In [9]:
df1.head(10)

        GameId    GameDate  Quarter  ...  IsNoPlay  PenaltyType PenaltyYards
15  2018090903  2018-09-09        4  ...         0          NaN            0
22  2018090908  2018-09-09        2  ...         0          NaN            0
24  2018090909  2018-09-09        3  ...         0          NaN            0
34  2018091000  2018-09-10        3  ...         0          NaN            0
35  2018091000  2018-09-10        3  ...         0          NaN            0
42  2018091601  2018-09-16        1  ...         0          NaN            0
43  2018091601  2018-09-16        3  ...         0          NaN            0
47  2018091603  2018-09-16        4  ...         0          NaN            0
48  2018091604  2018-09-16        1  ...         0          NaN            0
55  2018091608  2018-09-16        2  ...         0          NaN            0

[10 rows x 40 columns]

In [0]:
df = df1.drop(df1[df1.PlayType == 'QB KNEEL'].index)

In [11]:
df.head()

        GameId    GameDate  Quarter  ...  IsNoPlay  PenaltyType PenaltyYards
22  2018090908  2018-09-09        2  ...         0          NaN            0
24  2018090909  2018-09-09        3  ...         0          NaN            0
34  2018091000  2018-09-10        3  ...         0          NaN            0
35  2018091000  2018-09-10        3  ...         0          NaN            0
42  2018091601  2018-09-16        1  ...         0          NaN            0

[5 rows x 40 columns]

In [12]:
df['PlayType'].value_counts()

PASS          18490
RUSH          12173
PUNT           2294
SACK           1370
FIELD GOAL      948
SCRAMBLE        826
NO PLAY         826
FUMBLES          85
CLOCK STOP       78
EXCEPTION        55
PENALTY           2
Name: PlayType, dtype: int64

In [13]:
df['Formation'].value_counts()

SHOTGUN              19582
UNDER CENTER         11786
PUNT                  2215
NO HUDDLE SHOTGUN     2065
FIELD GOAL             948
NO HUDDLE              576
WILDCAT                  1
Name: Formation, dtype: int64

In [0]:
df = df.drop(df[df.Formation == 'PUNT'].index)
df = df.drop(df[df.PlayType == 'PUNT'].index)
df = df.drop(df[df.Formation == 'FIELD GOAL'].index)
df = df.drop(df[df.PlayType == 'FIELD GOAL'].index)

In [15]:
df.head()

        GameId    GameDate  Quarter  ...  IsNoPlay  PenaltyType PenaltyYards
22  2018090908  2018-09-09        2  ...         0          NaN            0
24  2018090909  2018-09-09        3  ...         0          NaN            0
34  2018091000  2018-09-10        3  ...         0          NaN            0
35  2018091000  2018-09-10        3  ...         0          NaN            0
42  2018091601  2018-09-16        1  ...         0          NaN            0

[5 rows x 40 columns]

In [29]:
df['PlayType'].value_counts()

PASS          18489
RUSH          12173
SACK           1370
SCRAMBLE        826
NO PLAY         826
FUMBLES          85
CLOCK STOP       78
EXCEPTION        55
PENALTY           2
Name: PlayType, dtype: int64

In [0]:
df = df.drop(df[df.PlayType == 'NO PLAY'].index)
df = df.drop(df[df.PlayType == 'FUMBLES'].index)
df = df.drop(df[df.PlayType == 'CLOCK STOP'].index)
df = df.drop(df[df.PlayType == 'EXCEPTION'].index)
df = df.drop(df[df.PlayType == 'PENALTY'].index)

In [0]:
df = df.replace('SACK', 'PASS')
df = df.replace('SCRAMBLE', 'RUSH')

In [35]:
df['Formation'].head(20)

22              SHOTGUN
24         UNDER CENTER
34              SHOTGUN
35    NO HUDDLE SHOTGUN
42              SHOTGUN
43         UNDER CENTER
48         UNDER CENTER
55         UNDER CENTER
58            NO HUDDLE
62         UNDER CENTER
65         UNDER CENTER
66              SHOTGUN
71              SHOTGUN
75         UNDER CENTER
85              SHOTGUN
86              SHOTGUN
87              SHOTGUN
88              SHOTGUN
89              SHOTGUN
92         UNDER CENTER
Name: Formation, dtype: object

In [36]:
df.iloc[19582]

GameId                                                                   2018090908
GameDate                                                                 2018-09-09
Quarter                                                                           2
Minute                                                                           10
Second                                                                           14
OffenseTeam                                                                     LAC
DefenseTeam                                                                      KC
Down                                                                              2
ToGo                                                                             10
YardLine                                                                         66
SeriesFirstDown                                                                   0
NextScore                                                                         0
Description                       (10:14) 30-A.EKELER UP THE MIDDLE TO KC 25 FOR...
TeamWin                                                                           0
SeasonYear                                                                     2018
Yards                                                                             9
Formation                                                              UNDER CENTER
PlayType                                                                       RUSH
IsRush                                                                            1
IsPass                                                                            0
IsIncomplete                                                                      0
IsTouchdown                                                                       0
PassType                                                                        NaN
IsSack                                                                            0
IsChallenge                                                                       0
IsChallengeReversed                                                               0
IsMeasurement                                                                     0
IsInterception                                                                    0
IsFumble                                                                          0
IsPenalty                                                                         0
IsTwoPointConversion                                                              0
IsTwoPointConversionSuccessful                                                    0
RushDirection                                                                CENTER
YardLineFixed                                                                    34
YardLineDirection                                                               OPP
IsPenaltyAccepted                                                                 0
PenaltyTeam                                                                     NaN
IsNoPlay                                                                          0
PenaltyType                                                                     NaN
PenaltyYards                                                                      0
Name: 28499, dtype: object

In [48]:
df.head(13345)

           GameId    GameDate  ...        PenaltyType  PenaltyYards
22     2018090908  2018-09-09  ...                NaN             0
24     2018090909  2018-09-09  ...                NaN             0
34     2018091000  2018-09-10  ...                NaN             0
35     2018091000  2018-09-10  ...                NaN             0
42     2018091601  2018-09-16  ...                NaN             0
...           ...         ...  ...                ...           ...
19581  2018112600  2018-11-26  ...                NaN             0
19582  2018112600  2018-11-26  ...                NaN             0
19584  2018112600  2018-11-26  ...                NaN             0
19586  2018112600  2018-11-26  ...  OFFENSIVE HOLDING            10
19587  2018112600  2018-11-26  ...                NaN             0

[13345 rows x 40 columns]

In [0]:
values = {'PlayType':'RUSH'}
df = df.fillna(value=values)

In [0]:
df['Formation play'] = df[['Formation', 'PlayType']].apply(lambda x: ' '.join(x), axis=1)

In [55]:
df.head()

        GameId    GameDate  ...  PenaltyYards          Formation play
22  2018090908  2018-09-09  ...             0            SHOTGUN RUSH
24  2018090909  2018-09-09  ...             0       UNDER CENTER RUSH
34  2018091000  2018-09-10  ...             0            SHOTGUN PASS
35  2018091000  2018-09-10  ...             0  NO HUDDLE SHOTGUN PASS
42  2018091601  2018-09-16  ...             0            SHOTGUN PASS

[5 rows x 41 columns]

In [0]:
target = 'Formation play'
features = ['GameDate', 'Quarter', 'Minute', 'Second', 'OffesnseTeam', 'DefenseTeam', 'Down', 'ToGo', 'YardLine']